{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "react-app",
    "airbnb",
    "airbnb-typescript",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "rules": {
    "semi": 0,
    "operator-linebreak": "off",
    "no-param-reassign": "off",
    "no-bitwise": 0,
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": false,
        "enforceForJSX": false
      }
    ],
    "no-cond-assign": ["error", "except-parens"],
    "no-plusplus": "off",
    "no-underscore-dangle": [
      "error",
      { "allow": ["__REDUX_DEVTOOLS_EXTENSION__"] }
    ]
  }
}
