.score__container {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(8px) saturate(280%);
  background-color: hsla(0, 0%, 16%, 0.7);
  top: 0;
  left: -36vw;
  transition: all 0.5s ease-in-out;
}

.score__container--active {
  left: 0;
}

.score__header {
  padding: 1rem 0.5rem;
  text-align: center;
  position: relative;
  color: #fffd;
  font-size: 1.2rem;
  font-weight: bold;
}

.score__header__close {
  position: absolute;
  left: 1rem;
}

.score__list {
  overflow-y: scroll;
  height: 88vh;
  margin-bottom: 4rem;
  font-size: calc(0.6rem + 0.2vw);
  color: #B0B0B0;
  font-family: monospace;
}

.score__list__item:hover {
  filter: none;
}

.welcome, .begin {
  color: rgba(242, 179, 4, 1);
}

.newdata {
  background: rgba(164, 14, 26, 1);
  color: #fffd;
  text-align: center;
}

.controls-change {
  background: #B0B0B0;
  color: #000;
  text-align: center;
}

.newdata {
  background: rgba(164, 14, 26, 1);
  color: #fffd;
  text-align: center;
}

.bus {
  background: rgba(37, 51, 64, .7);
  height: calc(0.7rem + 0.2vw);
  display: inline-block;
  padding-right: calc(0.7rem + 0.2vw);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  color: rgba(242, 179, 4, 1);
}

.bottom-reference {
  font-size: 6rem;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: rgba(255,255,255,.1);
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .score__container {
    top: auto;
    width: 36vw;
  }
}