.preview__container {
  z-index: 1000;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
  backdrop-filter: blur(8px) saturate(280%);
  background-color: hsla(0, 0%, 16%, 0.7);
  top: 0;
  right: -100%;
  transition: all 0.2s ease-in-out;
  color: #fffd;
  border-radius: 4vmin 0 0 4vmin;
}

.preview__container--active {
  right: 0;
}

.preview__description__container {
  padding: 1rem;
}

.preview__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: #fffd;
  cursor: pointer;
}

.preview__button {
  text-decoration: none;
  font-weight: bold;
  background-color: #f9b29c;
  border-radius: 0.5rem;
  appearance: none;
  border: none;
  color: #fffd;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}

.preview__title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.preview__description {
  line-height: 1.5rem;
  color: #ccc;
}

.preview__picture {
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info__container {
  height: 100vh;
  margin: 1vmin;
}

li {
  margin-bottom: 1vmin;
}

@media only screen and (min-width: 768px) {
  .preview__container {
    width: 33%;
  }
}
