.score__container {
  backdrop-filter: blur(4px) saturate(380%) brightness(50%);
  border-right: 2px solid #fff3;
  box-shadow: 2px 0 2px 0 #0004;
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  transition: width 0.5s ease-in-out;
  width: 0%;
  z-index: 1;
}

.score__container--active {
  width: 100%;
}

.score__header {
  padding: 1rem 0.5rem;
  text-align: center;
  position: relative;
  color: #fffd;
  font-size: 1.2rem;
  font-weight: bold;
}

.score__header__close {
  position: absolute;
  left: 1rem;
  padding: 0;
  border: 0;
  font-size: 1.5rem;
}

.score__list {
  overflow-y: scroll;
  height: 88vh;
  margin-bottom: 4rem;
  font-size: calc(0.7rem + 0.2vw);
  color: #ccc;
  font-family: monospace;
}

.score__list__item {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0) 99%
  );
  border-radius: 25px;
  margin-right: 12px;
}

.score__list__item:hover {
  filter: none;
}

.welcome,
.begin {
  color: rgba(242, 179, 4, 1);
}

.newdata {
  background: rgba(164, 14, 26, 1);
  color: #fffd;
  text-align: center;
}

.controls-change {
  background: #b0b0b0d8;
  color: #000;
  text-align: center;
}

.newdata {
  background: rgba(164, 14, 26, 0.9);
  color: #fffd;
  text-align: center;
}

.retired {
  background: #fffa;
  color: rgba(164, 14, 26, 1);
  text-align: center;
}

.bus {
  background: linear-gradient(
    90deg,
    rgba(37, 51, 64, 0.7) 1%,
    rgb(53, 83, 112) 99%
  );
  display: inline-block;
  padding-left: calc(0.5vw);
  padding-right: calc(0.7rem + 0.2vw);
  border-bottom-right-radius: 25px;
  position: relative;
  color: rgba(242, 179, 4, 1);
}

.bottom-reference {
  font-size: 6rem;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: #080801;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .score__container--active {
    width: 36vw;
  }
}
