.map__container {
  width: 100vw;
}

.map-icon {
  width: 20px;
  height: 20px;
  background-color: rgba(242, 179, 4, .4);
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(37, 51, 64, .6);
  display: flex;
  justify-content: center;
}

.map-icon:after {
  content: "\269C";
  font-size: 2.5rem;
  align-self: center;
  font-weight: bold;
  margin-top: -.3rem;
  color: rgba(37, 51, 64, 1);
}

.icon-animation {
  animation-name: notePlay;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out;   
}

.icon-selected {
  background-color: rgba(37, 51, 64, 1);
  box-shadow: 0px 0px 4px rgba(242, 179, 4, 1);
}

.icon-selected:after {
  color: rgba(242, 179, 4, 1);
}

@keyframes notePlay {
  10% {
    background-color: rgba(164, 14, 26, 0.8);
  }
  100% {
    background-color: rgba(242, 179, 4, .4); 
  }
}